version: "3.2"
services:
  server:
    image: node:12.18.4
    working_dir: /code
    ports:
      - 5001:5001
    volumes:
      - type: bind
        source: ./
        target: /code
    command: bash -c "npm install && npm run start"
